@use '@carbon/colors';

.formField {
  margin-top: 10px;
}

.formField > div > div > label {
  color: colors.$gray-70;
}

.readonly {
  border-bottom: 0.5px colors.$gray-30;
  border-style: solid;
}

.readonly > div {
  padding-bottom: 7px !important;
}

.value {
  color: colors.$gray-70;
}
