.boldLegend > legend {
  font-weight: bolder;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  margin-right: 2.5rem;
  flex: 1;
}

.removeButton {
  @extend .flexColumn;
  margin-left: 0.5rem;
}

.obsGroupContainer {
  margin: 1rem 0rem 2rem;
}

.container {
  margin-top: 0.65rem;
  margin-bottom: 2rem;
}

.divider {
  border: 1.5px solid #e0e0e0;
  border-bottom: none;
  margin: 2rem 0;
}
