@import "../../root.scss";

.formField {
  margin-top: 10px;
}

.formField > div > div > label {
  color: #525252;
}

.ohriFormLabel {
  font-size: 0.75rem
}

.datePickerOverrides input {
  width: $ohri-input-width !important;
}

.disabledLabelOverrides label {
  color: #525252 !important;
}

.formInputField {
  @extend .formField;
  width: auto;
}

.formInputField > div > div > label {
  max-width: auto;
}

.formInputField > div > div > div {
  width: $ohri-input-width !important;
}

.multiselectOverride {
  width: auto;
  padding-bottom: 15px;
}

.multiselectOverride > div > div {
  width: $ohri-input-width !important;
}

.multiselectOverride > div div div input {
  border: 0 !important;
  border-bottom: 1px solid #8d8d8d !important;
}

.dropDownOverride > div div button {
  border-bottom: 1px solid #8d8d8d !important;
}

.numberInputWrapper :global(.cds--number) {
  @extend .formField;
  width: $ohri-input-width;
  font-size: 0.875rem;
}

.textContainer label {
  font-size: 0.875rem !important;
}

.selectedOption {
  border-radius: 4px;
  width: 15rem;
}

.selectedOption button {
  background-color: $ui-01;
}

.switchOverrides {
  background-color: #edf5ff !important;
  color: #0f62fe !important;
  padding: 0 0 0 1rem;
  border: solid 1px #0f62fe !important;
}

.switchOverrides button:focus {
  border: none !important;
}

.selectedOption button:before {
  display: none !important;
}

.switchOverridesNone {
  background-color: $ui-01 !important;
  padding: 0 0 0 1rem;
  border: solid 1px #a6c8ff !important;
}

.radioButton_ohri input[type="radio"] {
  opacity: 0 !important;
  position: fixed;
  width: 0;
}

.radioButton_ohri label {
  display: inline-block;
  border: 1px solid #a6c8ff;
  color: $color-gray-70;
  padding: 0.688rem 1rem;
  padding-right: 3rem;
  border-radius: 4px 0 0 4px;
  background-color: $ui-01;
}

.radioButton_ohri label:last-child {
  margin-left: -5px;
  border-radius: 0 4px 4px 0;
}

.radioButton_ohri input[type="radio"]:checked + label {
  color: #0f62fe;
  border-color: #0f62fe;
  background-color: #edf5ff;
}

.radioButton_ohri > .cds--radio-button-wrapper {
  margin-right: 0rem !important;
}

.textInputOverrides > div > div {
  width: $ohri-input-width;
}

.unspecified > div label {
  font-size: 12px;
  color: $color-gray-70;
  padding-bottom: 1rem;
}

.errorLegend legend, .errorLabel label {
  color: #da1e28 !important;
}

.unspecified > div label {
  font-size: 12px;
  color: $color-gray-70;
}

.errorLabel :global(.cds--form-requirement) {
  display: block;
  max-height: 12.5rem;
  overflow: visible;
  font-weight: 400;
  color: #da1e28;
}

.warningLabel :global(.cds--form-requirement) {
  display: block;
  max-height: 12.5rem;
  overflow: visible;
  font-weight: 400;
  color: $text-02;
}

.obsGroupColumn {
  max-width: 18rem;
}

.obsGroupColumn  input[class*="cds--date-picker__input"] {
  width: 18rem !important;
}

.obsGroupColumn > div, .obsGroupColumn div[class*="cds--number"] {
  margin-top: 0 !important;
}

/** Targets carbon's multiselect */
.obsGroupColumn > div > div > div {
  max-width: 18rem !important;
}

/** Targets carbon's dropdown */
.obsGroupColumn > div > div > div > div {
  max-width: 18rem !important;
}

.repeatContentWrapper {
  margin-top: 0.65rem;
  margin-bottom: 2rem;
}

.ohriLabel {
  width: auto !important;
}

.ohriLabel :global(.cds--assistive-text) {
  max-width: 30rem !important;
  font-size: 0.75rem;
  white-space: pre-line !important;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  margin-right: 2.5rem;
  flex: 1;
}

.boldLegend > legend { 
  font-weight: bolder;
}

.reviewPreviousValueRadioOverrides div {
  width: auto !important;
}

// TimePicker Overrides
.formField :global(.bx--time-picker__input-field) {
  width: auto;
  margin-left: 5rem;
}

.formField :global(.bx--label--disabled) {
  margin-left: 5rem;
}

.datetime > div {
  margin-right: 02rem !important;
  flex: none !important;
  box-sizing: content-box !important;
}