@use '@carbon/colors';

.formField {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: red;
  > div > div > label {
    color: colors.$gray-70;
  }
}

.row {
  display: flex;
  justify-content: flex-start;
  // background-color: bisque;
}

.value {
  padding-left: 0.5rem;
  // background-color: aqua;
}
