@use '@carbon/colors';

.section {
  margin-top: 1rem;
  width: 100%;
}

.sectionBody {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.flexFullWidth {
  flex-basis: 100%;
}

.questionInfoDefault {
  display: flex;
}
