@use '@carbon/colors';

.boldedLabel {
  flex: 95%;

  label {
    font-weight: 600;
    color: colors.$black-100;
  }
}

.errorLabel label {
  color: colors.$red-60;
  font-weight: 600;
}

.loader {
  padding: 0.25rem 0.5rem;
}
