.saveFile{
    margin: 0;
}
.capturedImage{
    margin: 0;
}
.Image{
    display: flex;
    // justify-content: space-between; /* Space between buttons */
    align-items: center; /* Vertically center the buttons */
}