@use '@carbon/colors';
@use '@openmrs/esm-styleguide/src/vars' as *;

.label {
  font-family: IBM Plex Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 128.571% */
  letter-spacing: 0.16px;
  color: colors.$black-100;
}

.boldedLabel label {
  font-weight: 600;
  color: colors.$black-100;
}

.saveFile {
  margin: 0;
}

.capturedImage {
  width: 100%;
}

.caption {
  display: flex;
}

.closeIcon {
  margin: 0 1rem;
}

.uploadSelector {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.fileInputContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .uploadSelector {
    display: flex;
    gap: 1rem;
    
    .uploadFileButton, .cameraCaptureButton {
      min-width: 150px;
      @include brand-03(background-color);
      color: white;
      
      &:hover {
        @include brand-03(background-color);
      }
      
      &:disabled {
        background-color: #cccccc;
        color: #666666;
      }
    }
  }
}

.caption {
  display: flex;
  margin-top: 5px;
}

.imageDescription {
  margin-top: 5px;
}

.fileUploader {
  background-color: colors.$white;
  padding: 1rem;
}

.cameraUploader {
  margin: 1rem 0;
  background-color: colors.$white;
  padding: 1rem;
}

.camButton {
  margin-bottom: 1rem;
}

.cameraToggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

}

.cameraPreview {
  margin-top: 1rem;
}

.imageContent {
  padding: 0;
  margin: 0;
}

.titleStyles {
  color: colors.$gray-100;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.16px;
  line-height: 1.2857;
  margin-bottom: 0.5rem;
}

.descriptionStyles {
  color: colors.$gray-70;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.16px;
  line-height: 1.28572;
  margin-bottom: 1rem;
}

.editModeImage {
  background-color: colors.$white;
  padding: 1rem;
}

.pdfThumbnail {
  cursor: pointer;
  background-color: colors.$cool-gray-50;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
}
