.label {
  :global(.cds--assistive-text) {
    max-width: 30rem !important;
    font-size: 0.75rem;
    white-space: pre-line !important;
  }

  :global(.cds--label) {
    font-weight: bolder;
  }

  button {
    border-bottom: none !important;
  }
}
