
.label {
  // width: auto !important;
  // background-color: burlywood;
  flex-basis: 1;
  :global(.cds--assistive-text) {
    max-width: 30rem !important;
    font-size: 0.75rem;
    white-space: pre-line !important;
  }
  :global(.cds--label) {
    font-weight: bolder;
  }
}
