:global(.contextWorkspaceContainer) {
  //overflow-y: auto;
}

.ohriForm {
  height: 100%;
  overflow: hidden;
}

.ohriFormContainer {
  display: -webkit-flex;
  height: 90vh;
  overflow-y: hidden;
}

.formContent {
  margin: 0;
  flex-basis: 65%;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  overflow-y: auto;
  //padding: 0 0 15rem 5px;
}

.ohriFormContainer :global(.bx--label) {
  font-size: .875rem;
}

@media only screen and (max-width: 640px) {
  //
}

@media (max-width: 768px) {
  .sidebar {
  }

  .formContent {
  }
  .ohriFormContainer {
    height: 100vh;
  }
}

@media (max-width: 1024px) {
  .sidebar {

  }

  .formContent {
  }
}

@media (max-width: 1440px) {
  .sidebar {
  }

  .formContent {
  }
}
