@use '@carbon/colors';
@use '@carbon/type';

.pageContent:last-child > hr {
  display: none;
}

.pageHeader {
  cursor: pointer;
  transition: background-color 0.1s;
  border-radius: 1px;
  padding: 0.5rem 1rem;
  border-top: 1px solid colors.$gray-20;
  border-bottom: 1px solid colors.$gray-20;
  &:hover {
    background-color: colors.$gray-20;
  }
}

.pageTitle {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4;
  color: colors.$gray-100;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.collapseIcon {
  fill: colors.$gray-70;
  width: 1rem;
  height: 1rem;
}

.sectionContainer > div {
  background-color: colors.$gray-10;
}

.accordionContainer {
  width: 95%;
}

.firstSection {
  border-top: none;
}

.lastSection {
  border-bottom: none !important;
}

.formSection {
  flex: 1 1 65%;
}

.hiddenAccordion {
  display: none;
}

.formSection > div > fieldset {
  margin-bottom: 0 !important;
}

// TODO: try removing this when upgrading @carbon/react. Added at 1.37
:global(.cds--accordion__wrapper) {
  max-block-size: unset !important;
}
