@use '@carbon/colors';

.parentResizer {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.unspecifiedContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexBasisOn {
  flex-basis: 100%;
}

.questionInfoFlexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.questionInfoDefault {
  display: flex;
}

.sectionContainer {
  margin-top: 1rem;
  width: 100%;
}

.questionInfoCentralized {
  display: flex;
  align-items: center !important;

  > .questionInfoControl {
    position: relative;
    align-items: flex-start;
  }
}

.questionInfoControl {
  margin: 0 0.25rem;
  align-items: start;
}

.controlWidthConstrained {
  max-width: 18rem;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}
