@use '@carbon/colors';

.parentResizer {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.unspecifiedContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexBasisOn {
  flex-basis: 100%;
}

.questionInfoDefault {
  display: flex;
}

.sectionContainer {
  margin-top: 1rem;
  width: 100%;
}

.questionInfoCentralized {
  display: flex;
  align-items: center !important;
}

.controlWidthConstrained {
  max-width: 18rem;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}
