@use '@carbon/colors';

.section {
  border-radius: solid 1px rgba(107, 104, 104, 0.5);
  margin-bottom: 3.063rem;
}

.sectionTitle {
  max-width: 200px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.38;
  color: colors.$gray-70;
  margin-bottom: 0.5rem;
}

.sectionContainer {
  margin-top: 1.438rem;
  width: 90%;
}

// This rule is breaking styling for embedded widgets
// To should be more specific 
.sectionContainer :global(.cds--fieldset) {
  margin-bottom: 0;
}

.sectionContainer > div {
  margin-bottom: 1rem;
}

.sectionContainer :global(.cds--label) {
  text-align: left;
}
