@use '@carbon/colors';

.parentResizer {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.unspecifiedContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexBasisOn {
  flex-basis: 100%;
}

.questionInfoFlexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.questionInfoDefault {
  display: flex;
}

.questionInfoDefault {
  display: flex;
}

.questionInfoCentralized {
  display: flex;
  align-items: center !important;

  >.questionInfoControl {
    padding-top: 1.5rem;
  }
}

.questionInfoControl {
  margin: 0 0.25rem
}

.controlWidthConstrained {
  max-width: 18rem;
}