@use '@carbon/colors';

.sidebar {
  width: 12rem;
  min-height: 8rem;
  overscroll-behavior: contain;
  margin-right: 1rem;
}

.sidebarList {
  max-height: 100%;
}

.sidenavActions {
  margin-left: 0.6rem;
}

@media all and (device-width: 600px) and (device-height: 1024px) and (orientation: portrait) {
  .sidebar {
    width: 11rem;
    max-height: 500px;
    margin-right: 20px;
    position: fixed;
  }

  .sidebarList {
    max-height: 200px;
    overflow-y: scroll;
  }
}

.link {
  margin: 0.375rem 0 0.375rem 0.5rem;
  font-size: 1rem;
  line-height: 1.43;
  letter-spacing: 0.16px;
  color: colors.$gray-100;
  cursor: pointer;

  &:hover {
    outline: none;
  }
}

.sidebarSection {
  border-left: 0.5rem solid var(--brand-03);
  height: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.25rem 0.5rem;
  background-color: colors.$white-0;
  cursor: pointer;

  &:hover {
    background-color: colors.$gray-10;
  }
}

.sidebarSectionActive {
  @extend .sidebarSection;
  font-weight: 600;
  background-color: colors.$gray-20;
}

.sidebarSectionDone {
  @extend .sidebarSection;
  border-left: 0.5rem solid var(--brand-02);
  background-color: colors.$green-10;
}

.sidebarSectionError {
  @extend .sidebarSection;
  border-left: 0.5rem solid colors.$red-60;
  color: colors.$red-70 !important;
  background-color: colors.$red-20;
}

.sidebarSectionErrorActive {
  border-left: 0.5rem solid colors.$red-60;
  font-weight: 600;
  color: colors.$red-70 !important;
  background-color: colors.$red-20;
}

.sidebarSectionLink {
  font-size: 0.875rem;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.16px;
  color: colors.$gray-100;
}

.sideBarHorizontalLine {
  margin-top: 1.5rem;
}
