@use '@carbon/colors';

.sidebar {
  width: 12rem;
  min-height: 8rem;
  overscroll-behavior: contain;
  margin: 1px 13px 15px 0;
}

.sidebarList {
  max-height: 100%;
}

.sidenavActions {
  margin-left: 0.6rem;
}

@media all and (device-width: 600px) and (device-height: 1024px) and (orientation: portrait) {
  .sidebar {
    width: 11rem;
    max-height: 500px;
    margin-right: 20px;
    position: fixed;
  }

  .sidebarList {
    max-Height: 200px;
    overflow-y: scroll;
  }
}

.link {
  margin: 0.375rem 0 0.375rem 0.5rem;
  font-size: 1rem;
  line-height: 1.43;
  letter-spacing: 0.16px;
  color: colors.$gray-100;
  cursor: pointer;
}

.link:hover {
  outline: none;
}

// Sidebar-Section
.sidebarSection {
  border-left: 0.5rem solid var(--brand-03);
  height: auto;
  margin: 0.122rem 0 0.122rem;
  padding: 0.382rem 0.375rem 0.118rem 1rem;
  background-color: white;
  cursor: pointer;
}

.sidebarSectionActive {
  border-left: 0.5rem solid var(--brand-01);
  height: auto;
  font-weight: 600;
  margin: 0.122rem 0 0.122rem;
  padding: 0.382rem 0.375rem 0.118rem 1rem;
  background-color: #ededed;
  cursor: pointer;
}

.sidebarSectionDone {
  border-left: 0.5rem solid var(--brand-02);
  height: auto;
  margin: 0.122rem 0 0.122rem;
  padding: 0.382rem 0.375rem 0.118rem 1rem;
  background-color: colors.$green-10;
  cursor: pointer;
}

.sidebarSectionError{
  border-left: 0.5rem solid colors.$red-60;
  height: auto;
  color: colors.$red-70 !important;
  margin: 0.122rem 0 0.122rem;
  padding: 0.382rem 0.375rem 0.118rem 1rem;
  background-color: colors.$red-20;
  cursor: pointer;
}
.sidebarSectionErrorActive{
  border-left: 0.5rem solid colors.$red-60;
  height: auto;
  font-weight: 600;
  color: colors.$red-70 !important;
  margin: 0.122rem 0 0.122rem;
  padding: 0.382rem 0.375rem 0.118rem 1rem;
  background-color: colors.$red-20;
  cursor: pointer;
}

.sidebarSectionLink {
  font-size: 0.875rem;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: 0.16px;
  color: colors.$gray-100;
}

.sideBarHorizontalLine {
  margin-top: 1.5rem;
}
