@use '@carbon/colors';

.divider {
  background-color: rgba(107, 104, 104, 0.5);
  margin: 25px 0;
}

.pageContent:last-child>hr {
  display: none;
}

.pageHeader {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 1rem;
}

.pageTitle {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4;
  color: colors.$gray-100;
  width: 100%;
}

.required {
  margin: 0.25rem 27rem 0.5rem 0;
  font-size: 0.875rem;
  line-height: 1.29;
  letter-spacing: 0.16px;
  color: colors.$gray-70;
  width: 100%;
}

.formSection {
  flex: 1 1 65%;
}

.formSection>div>fieldset {
  margin-bottom: 0 !important;
}

.embeddedFormSection {
  background-color: colors.$gray-10;
  margin-left: 0.75rem;
  padding: 0.5rem 0 0.5rem 0.75rem;
}

.collapseToggle {
  margin-left: -180px;
  margin-bottom: 20px;
  margin-top: -10px;
}

.sectionContent>div {
  background-color: colors.$gray-10;
}

// TODO: try removing this when upgrading @carbon/react. Added at 1.37
:global(.cds--accordion__wrapper) {
  max-block-size: unset !important;
}

@media (min-width: 640px) {
  :global(.cds--accordion__content) {
    padding-right: 2rem !important;
  }
}

.sectionHeader {
  font-weight: 700;
}
