@use '@carbon/colors';

.formField {
  margin-top: 10px;
}

.formField > div > div > label {
  color: colors.$gray-70;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.textInputOverrides > div > div {
  width: 22.313rem;
}

.errorLabel label {
  color: colors.$red-60 !important;
}
