@use '@carbon/colors';

.section {
  margin-top: 1rem;
  width: 100%;
}

.sectionBody {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.flexBasisOn {
  flex-basis: 100%;
}

.questionInfoContainer {
  margin: 0 0.25rem;
}

.questionInfoDefault {
  display: flex;
}

.questionInfoCentralized {
  display: flex;
  align-items: center !important;

  > .questionInfoContainer {
    padding-top: 1.5rem;
  }
}
