.formEngine {
  height: 100%;
  overflow: hidden;
  flex-grow: 1;
}

.formEngineContainer {
  display: flex;
  height: 100%;
  overflow-y: hidden;
  flex-direction: column;
}

.formEngineBody {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.loader {
  @extend .formEngineBody;
  height: 1rem;
}

.formEngineContainer :global(.cds--label) {
  font-size: 0.875rem;
}

.formContent {
  height: calc(100vh - 6rem);
  margin: 0;
  flex-basis: 65%;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
}

.formContentBody {
  overflow-y: auto;
  width: inherit;
  position: sticky;
}

.minifiedFormContentBody {
  margin-bottom: 4rem !important;
}


.minifiedButtons {
  width: 100%;
  height: 63.5px;
  position: absolute;
  bottom: 0;
}

.minifiedButtons :global(.cds--btn) {
  max-width: 50%;
  height: 3.9rem;
}

.minifiedButtons > button {
  width: 50%;
}

.markdownContainer {
  padding: 1rem;
}

.linearActivity {
  overflow: hidden;
  width: 100%;
  height: 4px;
  background-color: var(--brand-03);
  margin-top: 0px;
}

.determinate {
  position: relative;
  max-width: 100%;
  height: 100%;
  -webkit-transition: width 500ms ease-out 1s;
  -moz-transition: width 500ms ease-out 1s;
  -o-transition: width 500ms ease-out 1s;
  transition: width 500ms ease-out 1s;
  background-color: var(--brand-02);
}

.indeterminate {
  position: relative;
  width: 100%;
  height: 100%;
}

.indeterminate:before {
  content: '';
  position: absolute;
  height: 100%;
  background-color: var(--brand-02);
  animation: indeterminate_first 2.5s infinite ease-out;
}

.indeterminate:after {
  content: '';
  position: absolute;
  height: 100%;
  background-color: var(--brand-01);
  animation: indeterminate_second 2.5s infinite ease-in;
}

@keyframes indeterminate_first {
  0% {
    left: -100%;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 10%;
  }
}

@keyframes indeterminate_second {
  0% {
    left: -150%;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 10%;
  }
}
