@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

$brand-teal-01: #3197D9;
$ohri-input-width: 22.313rem;
$ohri-home-background: #ededed;
$button-primary: #0078A6;

aside {
  background-color: $ui-02 !important;
}

.ohriForm {
  :global(.tab-12rem) > button {
    width: 12rem !important;
  }
  
  :global(.tab-14rem) > button {
    width: 14rem !important;
  }
  
  :global(.tab-16rem) > button {
    width: 16rem !important;
  }
  
  :global(.cds--overflow-menu) > div {
    width: 15rem !important;
  }  
}

