@use '@carbon/colors';

.boldedLabel label {
  font-weight: 600;
  color: colors.$black-100;

  :global(.cds--toggle__label-text) {
    font-weight: 600;
    font-size: 0.85rem;
    color: colors.$black-100;
  }
}
