@use '@carbon/colors';

.boldedLabel label {
    font-weight: 600;
    color: colors.$black-100;
}

.errorLabel label {
    color: colors.$red-60;
    font-weight: 600;
}

:global(.cds--list--unordered:not(.cds--list--nested))
   {
  margin-left: 0rem;
}