.flexColumn {
  display: flex;
  flex-direction: column;
  margin-right: 2.5rem;
  flex: 1;
}

.flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.obsGroupColumn {
  max-width: 18rem;
}

.obsGroupColumn > div, .obsGroupColumn div[class*="cds--number"] {
  margin-top: 0 !important;
}

/** Targets carbon's multiselect */
.obsGroupColumn > div > div > div {
  max-width: 18rem !important;
  margin-right: 3rem;
}

/** Targets carbon's dropdown */
.obsGroupColumn > div > div > div > div {
  max-width: 18rem !important;
  margin-right: 3rem;
}

.parent{
  width: 360px;
}

.tooltipWithUnspecified{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tooltip{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.5rem;
}