
name: OpenMRS CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  release:
    types:
      - created

env:
  ESM_NAME: "openmrs-form-engine-lib"
  JS_NAME: "openmrs-form-engine-lib.js"
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TURBO_API: 'http://127.0.0.1:9080'
      TURBO_TOKEN: ${{ secrets.TURBO_SERVER_TOKEN }}
      TURBO_TEAM: ${{ github.repository_owner }}

    steps:
      - uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      - name: Cache dependencies
        id: cache
        uses: actions/cache@v3
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: yarn

      - name: Setup local cache server for Turborepo
        uses: felixmosh/turborepo-gh-artifacts@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          server-token: ${{ secrets.TURBO_SERVER_TOKEN }}

      - name: Run tests, lint and typechecking
        run: yarn verify

      - name: Run build
        run: yarn turbo build --color --concurrency=5

      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: |
            dist

  pre_release:
    runs-on: ubuntu-latest

    needs: build

    if: ${{ github.event_name == 'push' }}

    steps:
      - uses: actions/checkout@v3

      - name: Download Artifacts
        uses: actions/download-artifact@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          registry-url: "https://registry.npmjs.org"
      - run: yarn install
      - run: sed -i -e "s/\(\"version\":\\s\+\"\([0-9]\+\.\?\)\+\)/\1-pre.${{ github.run_number }}/" 'package.json'
      - run: |
         yarn config set npmAlwaysAuth true
         yarn config set npmAuthToken ${{ secrets.NPM_AUTH_TOKEN }}
      - run: yarn npm publish --tag next

  release:
    runs-on: ubuntu-latest

    needs: build

    if: ${{ github.event_name == 'release' }}

    steps:
      - uses: actions/checkout@v3
      - name: Download Artifacts
        uses: actions/download-artifact@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "16.x"
          registry-url: 'https://registry.npmjs.org'
      - run: yarn
      - run: yarn config set npmAuthToken "${NODE_AUTH_TOKEN}" && yarn npm publish --access public --tag latest
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

  bump-form-engine_ohri:
    runs-on: ubuntu-latest

    needs: pre_release

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          repository: UCSF-IGHS/openmrs-esm-ohri
          ref: dev

      - name: Install dependencies
        run: yarn

      - name: Bump form engine
        run: yarn ci:bump-form-engine-lib

      - name: Commit changes
        run: |
          git config user.email "github-actions@github.com"
          git config user.name "GitHub Actions"
          git add yarn.lock
          git commit -m "(chore) bump-form-engine"

      - name: Create PR
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.ACTIONS_OHRI_PAT }}
          commit-message: "(chore) Bump `@openmrs/openmrs-form-engine-lib`"
          title: "(chore) Bump `@openmrs/openmrs-form-engine-lib`"
          body: "This is an automated PR that bumps the [form engine library](https://github.com/openmrs/openmrs-form-engine-lib) to the newest available version tagged `next`."
          branch: chore/bump-form-engine
          base: dev

  bump-form-engine_patient_chart:
    runs-on: ubuntu-latest

    needs: pre_release

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          repository: openmrs/openmrs-esm-patient-chart
          ref: main

      - name: Install dependencies
        run: yarn

      - name: Bump form engine
        run: yarn ci:bump-form-engine-lib

      - name: Commit changes
        run: |
          git config user.email "github-actions@github.com"
          git config user.name "GitHub Actions"
          git add yarn.lock
          git commit -m "(chore) bump-form-engine"

      - name: Create PR
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.ACTIONS_OHRI_PAT }}
          commit-message: "(chore) Bump `@openmrs/openmrs-form-engine-lib`"
          title: "(chore) Bump `@openmrs/openmrs-form-engine-lib`"
          body: "This is an automated PR that bumps the [form engine library](https://github.com/openmrs/openmrs-form-engine-lib) to the newest available version tagged `next`."
          branch: chore/bump-form-engine
          base: main

  # bump-form_builder:
  #   runs-on: ubuntu-latest

  #   needs: pre_release

  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v3
  #       with:
  #         repository: openmrs/openmrs-esm-form-builder
  #         ref: main

  #     - name: Install dependencies
  #       run: yarn

  #     - name: Bump form engine
  #       run: yarn ci:bump-form-engine-lib

  #     - name: Commit changes
  #       run: |
  #         git config user.email "github-actions@github.com"
  #         git config user.name "GitHub Actions"
  #         git add yarn.lock
  #         git commit -m "(chore) bump-form-engine"

  #     - name: Create PR
  #       uses: peter-evans/create-pull-request@v3
  #       with:
          # token: ${{ secrets.ACTIONS_OHRI_PAT }}
  #         commit-message: "(chore) Bump `@openmrs/openmrs-form-engine-lib`"
  #         title: "(chore) Bump `@openmrs/openmrs-form-engine-lib`"
  #         body: "This is an automated PR that bumps the [form engine library](https://github.com/openmrs/openmrs-form-engine-lib) to the newest available version tagged `next`."
  #         branch: chore/bump-form-engine
  #         base: main
